$color-primary: #fd7e14;
$color-primary-light: #fecba1;
$color-primary-lighter: #ffe5d0;
$color-primary-lighter2: #fff2e8;
$color-primary-dark-1: #984c0c;
$color-primary-dark-2: #7f3f0a;
$color-primary-dark-3: #b1580e;
$color-primary-dark: #4c2606;

$color-white: #fff;

$color-grey-dark: #333;

$color-grey-light: #999;
$color-grey-light-4: #ccc;

$color-black: #000;

//FONT-SIZE
$heading-1-font-size: 5.6rem;
$heading-3-font-size: 3rem;

$big-font-size-2: 3.6rem;
$big-font-size: 2.4rem;
$medium-font-size: 1.8rem;
$default-font-size: 1.6rem;

//BORDER-RADIUS
$default-border-radius: 0.5rem;
$big-border-radius: 10rem;

//GRID
$default-grid: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

//Box-shadow:
$default-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
