.search {
  display: flex;
  align-self: center;
  justify-content: center;
  justify-self: center;
  width: 60%;
  // order: 0;
  order: 4;
  grid-column: 1/-1;
  margin-bottom: 2rem;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
  &__input {
    width: 80%;
    padding: 1rem 2rem;
    font-size: $default-font-size;
    border-radius: 100px;
    border: none;
    background-color: $color-primary-lighter2;
    margin-right: -4rem;
    &:focus {
      outline: none;
      width: 100%;
    }
    &::placeholder {
      font-size: $default-font-size;
      color: $color-grey-light-4;
    }
  }
  &__button {
    border: none;
    background-color: $color-primary-lighter2;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-light-4;
  }
}
